body{
		text-align:center;
	}
		.portals{
			height: 95%;
			width: 100%;
			margin:0 auto;	
		}

		.portal {
			position:relative;
			top:0px;
			left:0px;
			width:220px;
			height:250px;
			border: 1px solid #e1e1e8;
			float:left;
			margin:2px;
			color:black;
			font-weight: normal;

		}

		.portal img{
			padding:10px;
		}
		.portal_info{
			display: none;
			font-family: Papyrus;
			-webkit-animation: slide-in-text 5s;
		}
		.portal_name{
			font-family: Papyrus;
	        display:inline-block;
	        overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap;
            width:120px;
            height:30px;
            margin:0 auto;
            vertical-align:bottom;
            
            
            padding-top:5px;
			font-size:15px;
			text-transform: capitalize;
			font-variant: small-caps;
			transition: color 1000ms ease, font-weight ease;
		}
		.portal_link{
			display:table;
            margin:0 auto;
		}
		.portal:hover {
            box-shadow: 0 0 15px #e1e1e8;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }
        .blur{
        	display:none;
            position:fixed;
            top:0px;
            left:0px;
            background-color: #f2f2f5;
        	width:100%;
        	height:100%;
        	opacity:0.9;
        }
		.quickview
		{
			position: fixed;
			top: 100px;
			left: 35%;
			height: 475px;
			width: 30%;
			background-color: white;
			display: none;
			font-family: Papyrus;
			font-variant: small-caps;
			box-shadow: 0 0 15px #e1e1e8;
			-webkit-animation: slide-in 0.5s, slide-in-text 2s;
		}

		#close:hover{
			cursor: pointer;
			opacity: 0.5;
		}

		#close:active{
			top: 3px;
		}
	@-webkit-keyframes slide-in{
			0%{
				height: 0px;
				opacity: 0;
			}
			100%{
				height: 450px;
				opacity: 1;
			}
		}

	@-webkit-keyframes slide-in-text{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
